/****定位css****/
html,body{padding:0;margin:0;width:100%;height:100%;}
body{color:#ccc;font-size: small;}
a{color:#ccc!important;text-decoration: none;}
ul,li{padding:0;margin:0;}
li{list-style: none;}
.clear{clear: both;}


/*****二级页面定位*******/
.inc-left{position: absolute;width:210px;top:0;left:0;bottom:0;padding: 7em 2em;margin-top:10px;}
.inc-right{margin-left: 235px;margin-top:10px;}
.inc-left li{padding:.5em 2em;cursor: pointer;}
#inc-right-content{min-height:870px;}